.page {
    min-height: 100vh;
    background: white;
  }
  
  .app {
    min-height: 100vh;
    background: white;
  }
  
  /* Desktop-only polish */
  @media (min-width: 900px) {
    .page {
      background: #f5f5f7;
      padding: 32px 0;
    }
    body {
        background: #f5f5f7
    }
  
    .app {
        min-height: calc(100vh - 60px);
        max-width: 900px;
        margin: 0 auto;
        border: 1px solid #e5e7eb;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.06);
    }
  }
/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
