.editor-input-div {
    background:#EF3D50;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 13px;
    padding-inline: 13px;
}
.editor-input-div > input {
    background: #b42e3b;
    text-decoration: none;
    border: 2px solid transparent;
    color:rgb(255, 213, 213);
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 10px;
    font-size: 15px;
    width:100%;
}
.editor-input-div > input::placeholder {
    color: rgb(255, 187, 187);
}
.editor-input-div > input:focus-visible{
    border: 3px solid #ffa2ab;
    outline: none
}
.editor-input-div > p {
    color: rgb(255, 213, 213);
    font-size: 10px ;
    margin-left: 3px;
    margin-top: 3px;
    
}

.editor-title {
    margin-bottom: 8px;
    font-size: 20px;
}

.save-button {
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.20);
    background: #EF3D50;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    margin-top: 10px;
}

.edit {
    background:#EF3D50;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 5px;
    padding-inline: 13px;
    align-items: center;
    color: rgb(255, 213, 213)
}
.totals-item > div {
    display: flex;
    background:#b42e3b;
    color: rgb(255, 213, 213);
    align-items: center;
    border-radius: 5px;
    padding-inline: 5px;
}
.totals-item > div > p{
    margin-bottom: 2px;
    font-size: 15px;
}
.totals-item > div > input {
    background: #b42e3b;
    text-decoration: none;
    border: 2px solid transparent;
    color:rgb(255, 213, 213);
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 10px;
    font-size: 15px;
    width:100%;
    flex: 0 0 65px;
}

.totals-item > div > input::placeholder {
    color: rgb(255, 187, 187);
}
.totals-item > div > input:focus-visible{
    border: 3px solid #ffa2ab;
    outline: none
}