.editor-input-div {
    background:#f9f9f9;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 13px;
    padding-inline: 13px;
}
.editor-input-div > input {
    background: #e6e6e6;
    text-decoration: none;
    border: 2px solid transparent;
    color:black;
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 10px;
    font-size: 15px;
    width:100%;
}
.editor-input-div > input::placeholder {
    color: rgb(149, 149, 149);
}
.editor-input-div > input:focus-visible{
    border: 3px solid #EF3D50;
    outline: none
}
.editor-input-div > p {
    color: black;
    font-size: 10px ;
    margin-left: 3px;
    margin-top: 3px;
    
}

.editor-title {
    margin-bottom: 8px;
    font-size: 20px;
}

.save-button {
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.20);
    background: #EF3D50;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    margin-top: 10px;
}

.edit {
    background:#f9f9f9;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 5px;
    padding-inline: 13px;
    align-items: center;
    color: black
}
.totals-item > div {
    display: flex;
    background:#e6e6e6;
    color: black;
    align-items: center;
    border-radius: 5px;
    padding-inline: 5px;
}
.totals-item > div > p{
    margin-bottom: 2px;
    font-size: 15px;
}
.totals-item > div > input {
    background: #e6e6e6;
    text-decoration: none;
    border: 2px solid transparent;
    color:black;
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 10px;
    font-size: 15px;
    width:100%;
    flex: 0 0 65px;
}

.totals-item > div > input::placeholder {
    color: rgb(149, 149, 149);
}
.totals-item > div > input:focus-visible{
    border: 3px solid #EF3D50;
    outline: none
}

#add-item {
    background: #EF3D50;
    text-decoration: none;
    border: 2px solid transparent;
    color:rgb(255, 213, 213);
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 10px;
    font-size: 13px;
    width:100%;
    margin-bottom: 10px;
}

.create-div {
    background:#EF3D50;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 13px;
    padding-inline: 13px;
    display:flex;
    flex-direction: column;
}
.create-div > div {
    display: flex;
    
}
.create-div > div > h4 {
    color:white;
    margin-bottom: 8px
}
.create-div > div > button {
    margin-left:auto;
    text-decoration: none;
    border: 2px solid transparent;
    color:#a02633;
    font-weight: 800;
    border-radius: 5px;
    padding-block: 4px;
    padding-inline: 7px;
    font-size: 12px;
    margin-bottom: 7px
}
.create-field {
    display: flex;
    flex-direction: column;
}
.create-field > input{
    background: #b42e3b;
    text-decoration: none;
    border: 2px solid transparent;
    color:rgb(255, 213, 213);
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 10px;
    font-size: 15px;
    width:100%;
}
.create-field > p {
    color: rgb(255, 213, 213);
    font-size: 10px ;
    margin-left: 3px;
    margin-top: 3px;
}
.create-div > button {
    margin-left: auto;
    text-decoration: none;
    border: 2px solid transparent;
    color:#a02633;
    font-weight: 800;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 10px;
    font-size: 15px;
    margin-top: 8px;
}
