
.upload-cta > button {
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.20);
    background: #EF3D50;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}
.upload-cta > button:hover {
    filter:brightness(0.95);
    padding: 21px 42px 21px 42px;
}

.upload-cta {
    margin-top:auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home{
    text-align:center;
    min-height: calc(100vh - 110px);
    padding-bottom: 80px;
    padding-inline: 20px;
}

.hero-phone {
    width: 320px;          /* mobile size */
    max-width: 70vw;       /* responsive */
    display: block;
    margin: 30px auto;     /* center */
  
    filter: drop-shadow(0 40px 80px rgba(0,0,0,0.25));
}
@media (min-width: 900px) {
    .hero-phone {
        width: 360px;
    }
  }
#home h1 {
    font-size: 42px;
    margin-bottom: 12px;
}
  
#home p {
    color: #6b7280;
    margin-bottom: 40px;
}
  
