.receipt-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05) ; 
    padding: 25px;
}

@media (min-width: 900px) {
    .receipt-page {
        margin-inline: 70px;
    }
  }

#receipt-top {
    display:flex;
    justify-content: left;
    border-bottom: 1px grey solid;
    margin-bottom: 10px;
}
.items-div {
    border-bottom: 1px grey solid;
    margin-bottom: 10px;
}
#receipt-top > div > h4 {
    margin-bottom: 7px;
}
#receipt-top > div > p {
    color: grey;
    font-size: 11px;
    margin-bottom: 3px;
}

.receipt-svg {
    margin-right: 15px
}
.totals-item {
    display:flex;
    justify-content:space-between;
    margin-bottom: 3px;
}
.totals-item > h4 {
    font-weight: 600;
}
.totals-item > p {
    color: grey;
}
#last-totals-item {
    margin-bottom: 10px;
}

#show-claimed-btn {
    display: flex;
    background: white;
    border: 1px transparent;
    justify-content: left;
    padding: 8px;
    font-weight: 600;
    font-size: 14px; 
}

#remove-header {
    font-size: 12px;
    color: grey;
    margin-left: 8px;
}

#receipt-totals-header {
    margin-bottom: 10px;
}

#venmo-btn {
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.20);
    background: #EF3D50;
    color: white;
    border: 1px solid transparent;
}
#venmo-btn:hover {
    filter:brightness(0.95);
}

.share-btn {
    padding: 7px 12px;
    text-align: center;
    font-size: 11px;
    border-radius: 18px;
    background: #EF3D50;
    color: white;
    font-weight:600;
    border: 1px solid transparent;
}
@media (min-width: 900px) {
    .share-btn {
        padding: 7px 12px;
        font-size: 13px;

    }
  }
.share-btn:hover {
    filter:brightness(0.95);
}

.context-header {
    background: #f3f4f6;
    padding: 12px 16px;
    border-radius: 10px;
    border-left: 4px solid #d1d5db; /* darker than bg */
    border-bottom: 4px solid #d1d5db;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 23px;
    margin-top: 5px;
  }
  @media (min-width: 900px) {
    .context-header{
        margin-inline: 60px;
    }
  }
.context-text-div > h3{
    font-weight: 700;
    font-size: 16px;
    
}

.context-text-div > p {
    font-size: 14px;
    color: #6b7280;
  }
