/* This is a mess and I need to change the classnames and targetting to be more readable*/
.editor-item > div{
    display:flex;
    align-items: center;
    justify-content: left;
}
/* #EF3D50 (og background red) rgb(255, 213, 213) darker red inputs: #b42e3b*/
.editor-item {
    background:#f9f9f9;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 13px;
    padding-inline: 13px;
}
.top-editor-item > p {
    color:black;
    font-size: 14px;
    margin-right: auto;
}
.top-editor-item {
    display: flex;
    justify-content:space-between;
    margin-bottom: 8px;
}
.e-item-field {
    display:flex;
    justify-content:center;
    flex-direction: column;
}
.e-item-field > input{
    background: #e6e6e6;
    text-decoration: none;
    border: 2px solid transparent;
    color:black;
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 10px;
    font-size: 15px;
    width:100%;
}
.e-item-field > div{
    background: #e6e6e6;
    text-decoration: none;
    border: 2px solid transparent;
    color:black;
    border-radius: 5px;
    width:100%;
    display: flex;
    align-items: center;
}
.e-item-field > div > p{
    font-size: 12;
    padding-left: 10px;
    margin-bottom: 1px;
}
.e-item-field > div > input {
    background: #e6e6e6;
    text-decoration: none;
    border: 2px solid transparent;
    color:black;
    border-radius: 5px;
    font-size: 15px;
    width:100%;
    padding-block: 7px;
    padding-right: 10px;
    padding-left: 3px;
}

.e-item-field > input:focus-visible{
    border: 3px solid #EF3D50;
    outline: none
}
.e-item-field > input::placeholder {
    color: rgb(149, 149, 149)
}
.e-item-field > div > input:focus-visible{
    border: 3px solid #EF3D50;
    outline: none
}

.e-item-field > div > input::placeholder {
    color: rgb(149, 149, 149);
}

.qty { 
    flex: 0 0 60px;
    margin-right: 15px;
}     
.name { 
    flex: 1 1 auto; 
    margin-right: 30px;
}   
.price { 
    flex: 0 0 100px; 
} 
.e-item-field > p {
    color: black;
    font-size: 10px ;
    margin-left: 3px;
    margin-top: 3px;
}
.txn-delete-btn {
    background: #EF3D50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}