header {
    background: #EF3D50;
    color: white;
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header > a{
    color:white;
    text-decoration: none;
    margin: 2px;
    padding-inline: 7px;
    padding-block: 3px;
    border-radius: 4px;
}
header > a:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    filter:brightness(0.95);
}
@media (min-width: 900px) {
    header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    }
}